
    
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


#body {
    
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    padding: 15px; 
    
@media screen {min-width: 630px; max-width: 560px;    
}}
.bodyinicio {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 100%, rgba(217,56,56,1) 100%, rgba(252,176,69,1) 100%);
}
.bodyperros {
    background: rgb(222,227,17);
    background: radial-gradient(circle, rgba(222,227,17,1) 100%, rgba(0,95,255,1) 100%);
}
.bodygatos {
    background: rgb(227,17,127);
    background: radial-gradient(circle, rgba(227,17,127,1) 100%, rgba(0,95,255,1) 100%);

}
.bodyaccesorios {
    background: rgb(227,94,17);
    background: radial-gradient(circle, rgba(227,94,17,1) 100%, rgba(0,95,255,1) 100%);

}
.bodycontacto {
    background: rgb(43,185,7);
    background: radial-gradient(circle, rgba(43,185,7,1) 100%, rgba(0,95,255,1) 100%);

}
.bodypf {
    background: rgb(7,55,185);
    background: radial-gradient(circle, rgba(7,55,185,1) 100%, rgba(0,95,255,1) 100%);

}
.navbar {
    
    font-family: 'Kdam Thmor Pro', sans-serif; 
    font-size: medium;
    color:whitesmoke;  
    display: flex;  
    justify-content: flex-start;
    
     
 }
 .navbar-brand {
    color: whitesmoke;

 }
 .offcanvas-title {
    color: blueviolet;
 }

.portada
h1 {
    max-width: 100%;
    color: whitesmoke;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: normal;
    font-weight: 300px;
    font-display: swap;
    font-size: 80px ; 
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-direction: column;
    align-content: space-between;

    }
    
h2 {
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: space-between;
}
img { 
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 500px;
    
    
}


.presentacion { 
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-display: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container-fluid { 
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: large;
    height: 10%;
    width: 100%;
    color: whitesmoke;
    display: flex;  
    justify-content: flex-start;
 }
.listado { 
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    font-size: 50px ; 
    color: whitesmoke; 
    background-size: 0.5rem ; 
    background: rgb(222,17,227);
    background: radial-gradient(circle, rgba(222,17,227,1) 10%, rgba(0,95,255,1) 100%);
    border-style: double;
    border-width: 10px; 
    border-color: royalblue;
    display: flex;
    justify-content: center ;}


.imagenesindex { 
    height: 100%;
    width: 100%;
    max-width: 100%;
    position:relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    flex-direction: column;
    align-items: center;
    @media screen {min-width: 340px; max-width: 1270px;    
    }
    
}

.imgdogui {
    padding: 3px;
    margin: 3px;

}
.imgwhiskas {
    padding: 3px;
    margin: 3px;
    }
.imgacc { 
    padding: 3px;
    margin: 3px;
    }


.videoperros { 
    display: flex;
    justify-content: center;
 
}
.imagenGatos { 
    display: flex;
    justify-content: center;
}
.videogatos { 
    margin: 15px;
    display: flex;
    justify-content: center;
}
.pieDePagina { 
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center;

}
.imagenAccesorios {
    display: flex;
    justify-content: center;
}
.mapa{ 
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center
}

.imagenmapa {
    display: flex;
    justify-content: center;
    }
   


.preguntas { 
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: flex-start;

}
#carouselExampleControlsNoTouching {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 600px;
    height: 480px;

}
.carousel-item active {
    width: 1000px;
    height: 500px;
}

@media  screen and (min-whidth: 768px) { #body {
    background-color: #F9CE44;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: ¨links ¨ ¨titulo¨ ¨presentacion¨ ¨imagenesindex¨ ¨listado¨ ¨pieDePagina¨;
    grid-row-gap: 20px;
}
    
}    
