@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.body {background-color: #F9CE44}
#body {
    
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    padding: 15px; 
    background: rgb(34,193,195);
    background: linear-gradient(270deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
@media screen {min-width: 340px; max-width: 1270px;    
}}
.navbar {
    
    font-family: 'Kdam Thmor Pro', sans-serif; 
    font-size: medium;
    color: royalblue;
    display: flex;  
    justify-content: flex-start;
    
     
 }

.portada
h1 {
    color:rgb(85, 2, 74) ;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: normal;
    font-weight: 300px;
    font-display: swap;
    font-size: 80px ; 
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-direction: column;
    align-content: space-between;

    }
    
h2 {
    color:rgb(85, 2, 74);
    font-size: 60px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: space-between;
}
img { 
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.presentacion { 
    color: rgb(85, 2, 74);
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-display: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-fluid { 
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: large;
    height: 10%;
    width: 100%;
    color: royalblue;
    display: flex;  
    justify-content: flex-start;
 }
.listado { 
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    font-size: 50px ; 
    color:rgb(85, 2, 74); 
    background-size: 0.5rem ; 
    background: linear-gradient(90deg, rgba(230,20,13,1) 0%, rgba(237,138,30,1) 20%, rgba(237,242,3,1) 40%, rgba(51,238,37,1) 60%, rgba(89,92,242,1) 80%, rgba(137,5,244,1) 100%);
    border-style: double;
    border-width: 10px; 
    border-color: royalblue;
    display: flex;
    justify-content: center ;}


.imagenesindex { 
    height: 100%;
    width: 100%;
    max-width: 100%;
    position:relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    flex-direction: column;
    align-items: center;
    @media screen {min-width: 340px; max-width: 1270px;    
    }
    
}
nav {
    padding: 3px;
    margin: 3px; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgdogui {
    padding: 3px;
    margin: 3px;

}
.imgwhiskas {
    padding: 3px;
    margin: 3px;
    }
.imgacc { 
    padding: 3px;
    margin: 3px;
    }
.perros-img { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;

}

.videoperros { 
    display: flex;
    justify-content: center;
 
}
.imagenGatos { 
    display: flex;
    justify-content: center;
}
.videogatos { 
    display: flex;
    justify-content: center;
}
.pieDePagina { 
    color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center;

}
.imagenAccesorios {
    display: flex;
    justify-content: center;
}
.fotosAccesorios {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;
}
.mapa{ 
    color: grey;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center
}

.imagenmapa {
    display: flex;
    justify-content: center;
    }
.preguntas { 
    color: grey;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: flex-start;

}
@media  screen and (min-whidth: 768px) { #body {
    background-color: #F9CE44;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: ¨links ¨ ¨titulo¨ ¨presentacion¨ ¨imagenesindex¨ ¨listado¨ ¨pieDePagina¨;
    grid-row-gap: 20px;
}
    
}